.home{
    width: 100vw;
    position: relative;
    left: 0;

 
}
.HomeText_AboutIvi{
    max-width: 70%;
    width: 100%;
}
.HomeSlider{
    height: 500px;
}
// .home::-webkit-scrollbar {
//     width: 0;
//   }
