.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
    position: relative;
    color: #76757B;
    transition: 0.3s;
    background: transparent;
  
}
.activeHoverMenu{
    background-color: #1F1B2E;
    
}
.ganre{
    display: flex;
   width: 100%;
   gap: 5px;
   position: absolute;
   left: 0;
   top: 75px;
   background-color: #1F1B2E;
   border-radius: 0 0  17px 17px;
   padding: 20px;
   overflow: hidden;
   opacity: 0;
   transition: 0.3s;
   border-top: 1px solid gray;
}
.activeGanre{
    opacity: 1;
    z-index: 3000;
    height: 450px;
}
.ganre_list{
   height: 100%;
   max-width: 200px;
    padding: 10px;
   border-right: 1px solid gray;
   overflow-y: scroll;
   padding-top: 5px;
}
.ganre_list::-webkit-scrollbar {
    width: 0;
  }
.ganre_list li{
    height: 30px;
    min-width: 150px;
}
.ganre_list li:hover{
    color: white;
}