.swiper {
  // width: 100%;
  // max-width: 1200px;
  position: relative;
  // max-width: 400px;
  height: 30%;
  z-index: 50;
  padding: 10px 3px;
  // overflow-y: inherit;
  // border: 1px solid blue;
  max-width: 100%;
}
.SwiperSlide {
  flex-direction: column;
  max-height: 80%;
  position: relative;
}
.SwiperSlide:hover .swiperSlide_hoverAbout{
  opacity: 1;
  cursor: pointer;
  box-shadow: 0 0 3px white;
  position: absolute;
  color: white;
  transition: 0.5s;
  padding:  5px 5px;
}
.SwiperSlide h2{
  font-size: 14px;
}
.SwiperSlide:hover h2{
  color: white;
}
.swiperSlide_hoverAbout{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 15px;
  z-index: 100;
  background-color: rgba(20,17,28 , 0.7);
  color: white;
  opacity: 0;
  height: 100%;
  font-size: 14px;
  
}

.swiper_images{
  height: 80%;
  width: 100%;
}