.aboutFilm{
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1000;
  min-height: 100vh;
padding: 20px 20px; 
border-bottom: 1px solid rgb(5, 78, 5);
border-top: 1px solid rgb(5, 78, 5);
}
.preview_photo {
  min-width: 40%;

  img {
    max-height:  600px;
    width: 100%;
    // object-position: center;
    object-fit: cover;
    position: sticky;
    top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 3px gray;
  }
}
.about_wrapper {
  width: 100%;

}
.bgFon{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(16,14,25,0.8);
  z-index: 100;
}
.listDataApi li:not(:last-child)::after{
  content: ' , ';
  display: block;
  padding: 0 5px;

}
.aboutFilm_container{
  display: flex;
  gap: 20px;
  z-index: 1000;
}
.currentFilm_rating {
  display: flex;
  gap: 20px;

  p {
    height: 70px;
    width: 70px;
    margin: 10px 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-weight: 700;
    border-bottom: 1px solid rgb(5, 78, 5);
    border-top: 1px solid rgb(5, 78, 5);
  }
}
// Comments

.aboutFilm_sectionComments {
  min-height: 400px;
  margin-top: 10px;
}

// CurrentFilm siquel
.CurrentFilm_sequel_wrapper {
    margin: 20px 0;
    max-height: 300px;
    // overflow-y: scroll;
  background: rgb(16, 14, 25);
  background: linear-gradient(
    90deg,
    rgba(16, 14, 25, 1) 15%,
    rgba(26, 24, 39, 0.8632703081232493) 39%,
    rgba(26, 24, 39, 0.8688725490196079) 67%,
    rgba(16, 14, 25, 1) 87%
  );
  border: 1px solid #054E05;
  border-radius: 10px;
  padding: 20px;
  position: relative;

  h3{
    padding-left: 275px;
  }
}
.CurrentFilm_sequel_wrapperList {
  width: 100%;
  height: 220px;
  overflow-y: auto;
  
  li{
    padding-left: 275px;
    padding-right: 20px;
    z-index: 100;
  }
  
  li:hover{
    background-color: rgb(27, 27, 27);
    padding-left: 275px;

  }
  li:hover .CurrentFilm_sequel_ShowImage {
    opacity: 1;
    z-index: 1000;
    transition: 0.3s;

  }
}
.CurrentFilm_sequel_wrapperList{
  scrollbar-width: thin;          /* "auto" или "thin" */
  scrollbar-color: blue transparent;
}

.active{
  background-color: rgb(27, 27, 27);
  padding-left: 275px;
  opacity: 1;
}
.disabledActive{
  background-color: transparent;
}
.CurrentFilm_sequel_ShowImage{
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100%;
}
.CurrentFilm_sequelImage {
  max-height: 100%;
  height: 100%;
  object-fit: cover;
  width: 250px;
  border-radius: 10px;
}
.CurrentFilm_sequel_titlePhoto{
  height: 100%;
  object-fit: cover;
  width: 250px;
  border-radius: 10px;
}
.CurrentFilm_sequel_ShowErorLink{
  position: absolute;
  right: 30px ;
  bottom: 30px;
  background-color: red;
  padding: 10px;
  border-radius: 5px;
}
// CurrentFilm_sequel_titlePhoto

// About Film iframe video
.aboutFilm_iframe {
  width: 100%;
  height: 400px;
}


// Actors

.showInfoByActors{
  // background-color: red;
  // z-index: 100;
  cursor: pointer;
  div{
    display: none;
    background-color: #100E19;
    height: auto;
    // width: 300px;
    z-index: 200;
    right: -100px;
    top: 30px;

    img{
      height: 150px;
      min-width: 100px;
      border-radius: 10px;
    }
  }
}
.showInfoByActors:hover div{
  display: block;
  z-index: 200;
}
// END ACTORS

@media screen and (max-width: 576px) {

  .aboutFilm_container{
      display: flex;
      flex-direction: column;
  }
  .CurrentFilm_sequel_titlePhoto{
    // height: 100%;
    // object-fit: cover;
    // width: 250px;
    // border-radius: 10px;
    // height: 180px;
    // width: 150px;
    display: none;
  }
  .CurrentFilm_sequel_wrapperList {
    width: 100%;
    height: 150px;
    overflow-y: auto;
    
    li{
      padding: 0;
    }
  }
  .CurrentFilm_sequel_wrapper {
    min-height: 100px;
    h3{
      padding: 0;
    }
  }

}