@tailwind base;
@tailwind components;
@tailwind utilities;

.app-container{
  background-color: #100E19;
  color: white;
  min-height: 100vh;
  width: 100%;
  margin:  0 auto;
}
.container{
  max-width: 1200px;
  width: 100%;
  margin:  0 auto;
}

.home{
  width: 100%;
}
.listDataApi{
  display: flex;
  gap:5px
}
.listDataApi li:not(:last-child , :first-child)::after{
  content: ' , ';
  /* display: block; */
  padding: 0 5px;

}

/* START НАСТРОЙКА ПАГИНАЦИИ */
.MuiPagination-ul button{
  color: white;
}
.MuiPagination-ul div{
  color: white;
}
/* END НАСТРОЙКА ПАГИНАЦИИ */

/* MEDIA SCREEN */
@media screen and (max-width: 900px) {
  .app-container {
    padding: 0 5px;
  }
}

@media screen and (max-width: 1250px) {
  .app-container {
    padding: 0 5px;
  }
}